.card {
    height: 6rem;
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 6%);
    border-left: 4px solid #333;

    transition: box-shadow 0.3s ease-out;
}

.card:hover {
    box-shadow: 3px 3px 8px 5px rgb(0 0 0 / 10%);
}

.card .title {
    margin-bottom: 0.25rem;
}

.card .description {
    margin-left: 1rem;
    overflow-y: scroll;
}

.card .description textarea {
    height: 4rem;
    width: 90%;
}
